<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Foxes</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/bootstrap.css"></style>
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css"></style>
</head>
<body>
    <div class="container">
        <hr color="whitesmoke">
        <h1>Fox List</h1>
        <hr color="whitesmoke">
        <% for (var i in foxes_info){ %>
            <h2><a href="/foxes/<%= foxes_info[i]._id %>">Name: <%= foxes_info[i].name %></a>, Age: <%= foxes_info[i].age %> | <a href="/foxes/edit/<%= foxes_info[i]._id %>">Edit</a> | <a href="/foxes/destroy/<%= foxes_info[i]._id %>">Delete</a></h2>
        <% } %>
        <hr color="whitesmoke">
        <h3><a href="/foxes/new">Add a Fox C:</a></h3>
    </div>
</body>
</html>